<!-- /snippets/newsletter-form.liquid -->
<div class="homepage-instagram {{ settings.homepage_instagram_color }}" data-section-id="{{ id }}" data-section-type="instagram">
  {% if settings.token == '' %}
    <div class="grid-uniform grid--full">
      {% for i in (1..settings.instagram_photo_count) %}
        <div class="grid__item {{settings.instagram_grid_width_large}} {{settings.instagram_grid_width_medium}} {{settings.instagram_grid_width_small}}">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div id="Instafeed-{{ id }}" class="grid-uniform" data-count="{{ settings.instagram_photo_count }}" data-access-token="{{ settings.token }}" data-grid="{{settings.instagram_grid_width_large}} {{settings.instagram_grid_width_medium}} {{settings.instagram_grid_width_small}}"></div>
  {% endif %}
</div>