{%- assign product_img_url = product.featured_image.src | img_url: '700x' -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '1200x' -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_img_url = product.featured_image.src | img_url: '900x' -%}
{%- endif -%}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_offset }} {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}  product-grid-item">
  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product_img_url }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
  <div class="figcaption {{ settings.product_grid_style }} {{ settings.collection_text_alignment | default: 'text-center' }}">
    <a href="{{ product.url | within: collection | capitalize }}">
      <p class="h6 name_wrapper">
        {{ product.title }}
      </p>
      <p class="price_wrapper">
      {% if product.template_suffix contains "price-upon-request" %}
        <span class="price price-upon-request">
          <span class="money">Price Available Upon Request</span>
        </span>
      {% elsif template == 'index' %}
      {% else %}    
          <span class="price{% if on_sale %} on-sale{% endif %}">
            {% if product.price_varies %}{{ 'products.general.from' | t }} {% endif %}
            <span class="money">{{ product.price | money | remove: '.00' }}</span>
          </span>
          {% if sold_out %}
          <br /><em>{{ 'products.product.sold_out' | t }}</em>
          {% endif %}
          {% if on_sale %}
          <span class="compare-at">
            <span class="money">{{ product.compare_at_price | money }}</span>
          </span>
          {% endif %}
          {% if product.metafields.spr.reviews %}
            <br />
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
        {% endif %}
      </p>
      
        {% if template == 'index' %}
          <a href="{{ product.url }}" class="btn">View Product</a>
        {% elsif product.template_suffix contains "price-upon-request" %}    
        {% else %}    
          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <input type="submit" value="Buy now" class="btn--large btn--clear btn--square uppercase btn--padded" />
          </form>
        {% endif %}
      
    </a>
  </div>
</div>
