<!-- /templates/customers/register.liquid -->
<div class="wrapper">

  <div class="grid page-margin">

    <div class="grid__item large--one-third push--large--one-third text-center">

      <h3>{{ 'customer.register.title' | t }}</h3>

      {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus autocomplete="given-name">

      <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" autocomplete="family-name">

      <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" autocomplete="email">

      <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      <label for="address" class="label--hidden">Address</label>
      <input id="address" type="text" name="customer[note][Address]" placeholder="Address" autocomplete="street-address"/>

      <label for="city" class="label--hidden">City</label>
      <input id="city" type="text" name="customer[note][City]" placeholder="City" autocomplete="address-level2"/>

      <label for="state" class="label--hidden">State</label>
      <input id="state" type="text" name="customer[note][State]" placeholder="State"  autocomplete="address-level1"/>

      <label for="zip" class="label--hidden">Zip Code</label>
      <input id="zip" type="text" name="customer[note][Zip Code]" placeholder="Zip code"  autocomplete="postal-code"/>

      <label for="birthday" class="label--hidden">Birthday</label>
      <input id="birthday" type="text" name="customer[note][Birthday]" placeholder="Birthday" />

      <label for="anniversary" class="label--hidden">Anniversary</label>
      <input id="anniversary" type="text" name="customer[note][Anniversary]" placeholder="Anniversary" />

      <p>
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
      </p>
      {{ 'layout.customer.log_in' | t | customer_login_link }}

      {% endform %}

    </div>

  </div>

</div>
