<!-- /sections/collection.liquid -->

{%- assign grid_width_large = section.settings.grid_width_large -%}
{%- assign grid_width_medium = section.settings.grid_width_medium -%}
{%- assign grid_width_small = section.settings.grid_width_small -%}

{%- assign grid_offset = '' -%}
{%- assign products_count = collection.products_count -%}
{%- if grid_width_large == 'large--one-half' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--one-quarter' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-third' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--one-third' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--one-sixth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-quarter' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--three-eighths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--one-quarter' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--one-eighth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-fifth' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--two-fifths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--three-tenths' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--one-fifth' -%}
  {%- elsif products_count == 4 -%}
    {%- assign grid_offset = 'push--large--one-tenth' -%}
  {%- endif -%}
{%- elsif grid_width_large == 'large--one-sixth' -%}
  {%- if products_count == 1 -%}
    {%- assign grid_offset = 'push--large--five-twelfths' -%}
  {%- elsif products_count == 2 -%}
    {%- assign grid_offset = 'push--large--two-sixths' -%}
  {%- elsif products_count == 3 -%}
    {%- assign grid_offset = 'push--large--three-twelfths' -%}
  {%- elsif products_count == 4 -%}
    {%- assign grid_offset = 'push--large--one-sixth' -%}
  {%- elsif products_count == 5 -%}
    {%- assign grid_offset = 'push--large--one-twelfth' -%}
  {%- endif -%}
{%- endif -%}

{%- assign product_count = 48 -%}
{%- if grid_width_large == 'large--one-whole' -%}
  {%- assign product_count = 20 -%}
{%- elsif grid_width_large == 'large--one-half' -%}
  {%- assign product_count = 50 -%}
{%- elsif grid_width_large == 'large--one-third' -%}
  {%- assign product_count = 48 -%}
{%- elsif grid_width_large == 'large--one-quarter' -%}
  {%- assign product_count = 48 -%}
{%- elsif grid_width_large == 'large--one-fifth' -%}
  {%- assign product_count = 50 -%}
{%- endif -%}
{%- paginate collection.products by product_count -%}

{%- assign collection_sidebar = false -%}
{% if section.settings.collection_custom_nav_list != blank or section.settings.collection_standard_nav or section.settings.collection_type_nav or section.settings.collection_vendor_nav or section.settings.collection_tag_nav %}
  {%- assign collection_sidebar = true -%}
{%- endif -%}


<div data-section-id="{{ section.id }}" data-section-type="collection">

  {% if collection.image %}
    <div class="homepage-image preventOverflow {{ section.settings.text_color }} {{ section.settings.image_height }}" id="FeaturedImage-{{ section.id }}" {% if section.settings.parallax %}data-img-src="{{ collection.image | img_url: '1800x' }}"{% endif %}>
      <div class="content--centered">
        <div class="text-center preventOverflowContent">
          <h1 class="title--flex collection-title">{{ collection.title }}</h1>
          {% if collection.description.size > 0 %}<div class="content--flex rte">{{ collection.description }}</div>{% endif %}
        </div>
      </div>
      <div class="image-overlay {{ section.settings.image_overlay }}"></div>
      {% if section.settings.image_height == 'use_image' %}
        <img src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.image | default: collection.title }}" class="responsive-wide-image" {% if section.settings.parallax %} style="opacity: 0;"{% endif %}/>
      {% endif %}
      {% if section.settings.parallax == false and section.settings.image_height != 'use_image' %}
        <div class="background-size-cover" style="background-image: url('{{ collection.image | img_url: '1400x' }}');"></div>
      {% endif %}
    </div>
  {% endif %}

  <div class="collection">
    {% unless collection.image %}
      <div class="collection-title text-center color-text {{ section.settings.text_color }}">
        <div class="grid">
          <header class="collection__header">
            <span class="collection__super-heading">Collection</span>
            <h1 class="title--flex collection-title">{{ collection.title }}</h1>
          </header><!-- /.black-header -->
          {% if collection.description.size > 0 %}
            <div class="collection-text--body rte grid__item large--three-fifths push--large--one-fifth">
              <div class="h4--body rte">{{ collection.description }}</div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endunless %}
    <div class="wrapper">
      {% if section.settings.collection_sorting %}
        <div class="row text-right collection__sort">
          {% include 'collection-sorting' %}
        </div>
      {% endif %}
      <div class="page-margin grid--rev">
        {% if collection_sidebar %}
          <div class="grid__item large--three-quarters">
        {% else  %}
          <div class="grid__item one-whole">
        {% endif %}
          <div class="grid-uniform{% if settings.image_autoheight_enable %} image_autoheight_enable{% endif %}">
            {% for product in collection.products %}
              {% include 'product-grid-item' %}
            {% else %}
              {% if collection.handle == 'all'%}
                {% unless emptyState %}
                  {{ 'theme-onboarding.css' | asset_url | stylesheet_tag }}
                  {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}
              {% else %}
              <div class="grid__item">
                <p>{{ 'collections.general.no_matches' | t }}</p>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
          <hr>
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}
        </div>
        {% if collection_sidebar %}
        <div class="grid__item large--one-quarter">
          {% include 'collections-sidebar' %}
        </div>
        {% endif %}
      </div>
      {% endpaginate %}
    </div>
    </div>
  </div>
</div>

{% include 'instagram' %}

{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "header",
      "content": "Products per row"
    },
    {
      "type": "select",
      "id": "grid_width_large",
      "options": [
        { "value": "large--one-whole", "label": "1 per row"},
        { "value": "large--one-half", "label": "2 per row"},
        { "value": "large--one-third", "label": "3 per row"},
        { "value": "large--one-quarter", "label": "4 per row"},
        { "value": "large--one-fifth", "label": "5 per row"},
        { "value": "large--one-sixth", "label": "6 per row"}
      ],
      "default": "large--one-quarter",
      "label": "Full width"
    },
    {
      "type": "select",
      "id": "grid_width_medium",
      "options": [
        { "value": "medium--one-whole", "label": "1 per row"},
        { "value": "medium--one-half", "label": "2 per row"},
        { "value": "medium--one-third", "label": "3 per row"},
        { "value": "medium--one-quarter", "label": "4 per row"}
      ],
      "default": "medium--one-half",
      "label": "Tablet"
    },
    {
      "type": "select",
      "id": "grid_width_small",
      "options": [
        { "value": "small--one-whole", "label": "1 per row"},
        { "value": "small--one-half", "label": "2 per row"},
        { "value": "small--one-third", "label": "3 per row"}
      ],
      "default": "small--one-half",
      "label": "Mobile"
    },
    {
      "type": "header",
      "content": "Sidebar menu"
    },
    {
      "type": "link_list",
      "id": "collection_custom_nav_list",
      "label": "Custom link list"
    },
    {
      "type": "checkbox",
      "id": "collection_standard_nav",
      "label": "Show all collections"
    },
    {
      "type": "checkbox",
      "id": "collection_type_nav",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_vendor_nav",
      "label": "Show vendors"
    },
    {
      "type": "checkbox",
      "id": "collection_tag_nav",
      "label": "Show tags"
    },
    {
      "type": "header",
      "content": "Collection sorting"
    },
    {
      "type": "checkbox",
      "id": "collection_sorting",
      "label": "Show collection sorting"
    },
    {
      "type": "header",
      "content": "Feature image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "options": [
        { "value": "use_image", "label": "Image height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_screen_one_fifth", "label": "Tiny"}
      ],
      "default": "use_screen_one_third"
    },
    {
      "type": "select",
      "id": "image_overlay",
      "label": "Image overlay opacity",
      "info": "Darkens image for legible text.",
      "default": "image-overlay-20",
      "options": [
        { "value": "image-overlay-0", "label": "0%"},
        { "value": "image-overlay-5", "label": "5%"},
        { "value": "image-overlay-10", "label": "10%"},
        { "value": "image-overlay-15", "label": "15%"},
        { "value": "image-overlay-20", "label": "20%"},
        { "value": "image-overlay-25", "label": "25%"},
        { "value": "image-overlay-30", "label": "30%"},
        { "value": "image-overlay-35", "label": "35%"},
        { "value": "image-overlay-40", "label": "40%"},
        { "value": "image-overlay-45", "label": "45%"},
        { "value": "image-overlay-50", "label": "50%"},
        { "value": "image-overlay-55", "label": "55%"},
        { "value": "image-overlay-60", "label": "60%"},
        { "value": "image-overlay-65", "label": "65%"},
        { "value": "image-overlay-70", "label": "70%"},
        { "value": "image-overlay-75", "label": "75%"},
        { "value": "image-overlay-80", "label": "80%"},
        { "value": "image-overlay-85", "label": "85%"},
        { "value": "image-overlay-90", "label": "90%"},
        { "value": "image-overlay-95", "label": "95%"},
        { "value": "image-overlay-100","label": "100%"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "default": "homepage--white",
      "label": "Text color",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": false,
      "label": "Enable parallax scroll"
    }
  ]
}
{% endschema %}
