{% include 'instagram' %}

{% schema %}
{
  "name": "Instagram feed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram"
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social"
    }
  ]
}
{% endschema %}
