<!-- /sections/index-newsletter.liquid -->

<div class="homepage-newsletter" data-section-id="{{ section.id }}" data-section-type="index-newsletter">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--four-sixths push--large--two-twelfths">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.copy }}</p>
        {% include 'newsletter-form' %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "News"
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Copy",
      "default": "To Recieve Special Offers, Participate in Giveaways, & More!"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}