<!-- /templates/page.liquid -->
<div class="homepage-image preventOverflow homepage--light " id="FeaturedImage-blog" data-img-src="//cdn.shopify.com/s/files/1/1583/4917/files/springsummer_1800x.jpg?v=1484936855" style="min-height: 105px;">
  <div class="content--centered">
    <div class="text-center preventOverflowContent">
      <h1 class="text-center h2 collection-title">{{ page.title }}</h1>
    </div>
  </div>
    <img src="//cdn.shopify.com/s/files/1/1583/4917/files/page-header-bg-green.jpg?11910778893690256860" alt="files/page-header-bg-red.jpg" class="responsive-wide-image">
</div>
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">
      
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
