<!-- /templates/page.lookbook.liquid -->
<div class="container-fluid no-padding">
	<div class="row no-gutters">
		<div class="col-12 lookbook__full-width-image">
			{{ 'lookbook-claudia.jpg' | asset_url | img_tag }}
		</div>
	</div>
	<div class="row">
		<div class="col-12 lookbook__full-width-text">
			<h2 class="">Claudia Satchel</h2>
			<a class="btn btn--padded btn--clear btn--square uppercase" href="https://www.amaiacollection.com/collections/claudia-satchel" tabindex="0">Shop this Style</a>
		</div>
	</div><!-- /.row -->
	<div class="row no-gutters">
		<div class="col-12 col-lg-7 push-lg-5 lookbook__two-col-image">
			{{ 'lookbook-valerie.jpg' | asset_url | img_tag }}
		</div>
		<div class="col-12 col-lg-5 pull-lg-7 lookbook__two-col-text">
			<h2 class="">Valerie Rhythm Tote</h2>
			<a class="btn btn--padded btn--clear btn--square uppercase" href="https://www.amaiacollection.com/collections/valerie-rhythm-tote" tabindex="1">Shop this Style</a>
		</div>
	</div><!-- /.row -->
		<div class="row no-gutters">
		<div class="col-12 lookbook__full-width-image">
			{{ 'lookbook-reverie.jpg' | asset_url | img_tag }}
		</div>
	</div>
	<div class="row">
		<div class="col-12 lookbook__full-width-text">
			<h2 class="">Rêverie Square Classic</h2>
			<a class="btn btn--padded btn--clear btn--square uppercase" href="https://www.amaiacollection.com/collections/reverie-square-classic" tabindex="2">Shop this Style</a>
		</div>
	</div><!-- /.row -->
	<div class="row no-gutters">
		<div class="col-12 col-lg-7 push-lg-5 lookbook__two-col-image">
			{{ 'lookbook-amaia-clutch.jpg' | asset_url | img_tag }}
		</div>
		<div class="col-12 col-lg-5 pull-lg-7 lookbook__two-col-text">
			<h2 class="">AMAÏA Clutch</h2>
			<a class="btn btn--padded btn--clear btn--square uppercase" href="https://www.amaiacollection.com/collections/amaia-clutch" tabindex="3">Shop this Style</a>
		</div>
	</div><!-- /.row -->
		<div class="row no-gutters">
		<div class="col-12 lookbook__full-width-image">
			{{ 'lookbook-signature.jpg' | asset_url | img_tag }}
		</div>
	</div>
	<div class="row">
		<div class="col-12 lookbook__full-width-text">
			<h2 class="">Signature Personal Clutch</h2>
			<a class="btn btn--padded btn--clear btn--square uppercase" href="https://www.amaiacollection.com/collections/signature-personal-clutch" tabindex="0">Shop this Style</a>
		</div>
	</div><!-- /.row -->
</div>
